* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

img {
  display: block;
}

.container {
  display: grid;
  width: 1200px;
  grid-template-columns: 1fr 10fr;
}
#petresort {
  grid-column: 2;
}
.header {
  display: flex;
  justify-content: start;
}

.menu {
  display: flex;
  justify-content: end;
}
a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px;
}

.happydog {
  background-image: url("../img/happiest-dog.webp");
  height: 600px;
  display: flex;
}

.whitetext {
  color: white;
  align-self: flex-end;
}
