* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  border-radius: 20px;
}

.container {
  width: 1200px;
}

.header {
  display: flex;
}

.menu {
  display: flex;
  justify-content: end;
  list-style: none;
}
.a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px;
}

.happydog {
  background-image: url("../img/happiest-dog.webp");
  border-radius: 20px;
  height: 600px;
  display: flex;
  align-items: end;
}

.royalty {
  margin: 20px;
}

.whitetext {
  color: white;
}

.bottom3 {
  display: grid;
  grid-template-areas: 
  "og . . part" 
  "merch bfl fd part"
  ". . . part"
}

.og {
  background-color: white;
  height: 300px;
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  grid-area: og;
}

.merch {
  background-color: white;
  display: grid;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  grid-area: merch;
}

.bfl {
  background-color: white;
  display: grid;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  grid-area: bfl;
}

.fd {
  background-color: white;
  display: grid;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  grid-area: fd;
}

.partners {
  background-color: white;
  display: grid;
  padding: 20px;
  border-radius: 20px;
  grid-area: part;
}
